<section class="content">
<div style="margin-top: 20px; height: 20px;"></div>
<div class="box box-primary">
	<div class="box-header">
		<h1>Additional Info Page</h1>
	</div>
	<div class="add-info">
		<form ng-submit="submitAdditionalInfo()">
			<label for="isTeacher">Please Select Teacher or Student:</label>
			<div>
			<input type="radio" ng-model="formData.teacher" name="userType"  value="Teacher" required> Teacher
			<br>
			<input type="radio" ng-model="formData.student" name="userType" value="Student" required> Student
			</div>
			<br>
			<br>
			<br>
			<label for="gender">Please Select Your Gender:</label>
			<div>
			<input type="radio" ng-model="formData.female" name="gender"  value="Female" required > Female
			<br>
			<input type="radio" ng-model="formData.male" name="gender" value="Male" required> Male
			</div>
			<br>
			<br>
			<br>
			<label for="school">Please Select Your Current School:</label>
			<select ng-model="formData.school">
				<option ng-repeat="school in schools" value="{{school.id}}">{{school.name}}</option>
			</select>

			<br>
			<br>
			<br>
			<input class="btn btn-lg btn-info" type="submit" value="Submit">
		</form>
	</div>
</div>
</section>

<!-- <p>{{user}}</p> -->