<section class="content">
<div style="margin-top: 20px; height: 20px;"></div>

<div class="box box-primary">
	<div class="box-header">
		<h1>Write an Announcement</h1>
	</div>
	<form ng-submit="createAnnouncement()">
		<label for="title">Title of Announcement</label>
		<input class="form-control" type="text" id="title" ng-model="announcementData.title" name="title" required>
			<br>
		<label  for="body">Announcement Body</label>
		<!-- <input class="form-control" type="text" id="body" ng-model="announcementData.body"> -->
		<textarea class="form-control" name="body" id="body" cols="30" rows="10" ng-model="announcementData.body"></textarea>
			<br>
			<br>
		<input type="submit" class="btn btn-lg btn-info" value="Create an Announcement">
	</form>

</div>
</section>