<div style="margin-top: 20px; height: 20px;"></div>
<h2><strong>Assignment:</strong> {{assignment.title}}</h2>
<div class="box box-primary">
	<h4><strong>Due:</strong> {{assignment.due_date | date:'fullDate'}}</h4>
	<h4><strong>Description:</strong></h4>
	<div style="z-index: 2; pointer-events: none;">
		<textarea ui-tinymce="tinymceOptions" class="mceNonEditable" ng-model="assignment.description" rows="25">
		</textarea>
	</div>

	<div class="assignment-docs"> 
		<div class="box box-primary">
			<h4><strong>Documents Attached to This Assignment:</strong></h4>
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h5>Be sure to look at the documents attached to this assignment!
					They are probably important, or include additional instructions.</h5>
				</div>

				<div class="document-assignment-box-outer">
					<div class="document-assignment-box-inner">
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Document Name</th>
									</tr>	
								</thead>		
								<tbody>	
									<tr ng-repeat="doc in documents">				
											<td class="table-document-title"><a target="_blank" ng-href="{{doc.google_drive_url}}{{doc.local_file_url}}">{{doc.attachment_file_name}}{{doc.google_doc_name}}</a></td>
									</tr>
								</tbody>	
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div>



<a class="btn btn-lg btn-info center-block" ng-href="/#/courses/{{course.id}}/assignments/{{assignment.id}}/submissions/new">Submit an answer to this assignment</a>

