<div style="margin-top: 30px; height: 20px;"></div>
<div class="row">
	<div class="col-sm-8 col-xs-12">
		<h3>Teacher Command Center for {{courseObj.course.name}} - {{courseObj.course.subject}}</h3>
	</div>
	<div class="col-sm-4 col-xs-12">
		<button ng-click="toNewAssignment()" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> New Assignment</button>
		<button ng-click="toNewAnnouncement()" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> New Announcement</button>
		<button ng-click="toEditCourse()" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit Course</button>
	</div>


</div>

<section class="content">




	

	<div class="row">
		<div class="col-sm-4 col-xs-12"> <!-- ASSIGNMENT BOX -->
			<div class="box box-solid box-warning assignment-box-outer">
				<div class="box-header text-center">{{category}} Assignments</div>
				<br>
					<label for="category">Category:</label>
					<select ng-model="category" id="category" ng-change="changeCategories()" ng-init="category = 'All'">
						<option value="All">All</option>
						<option value="Class Participation">Class Participation</option>
						<option value="Classwork">Classwork</option>
						<option value="Homework">Homework</option>
						<option value="Project">Project</option>
						<option value="Quiz">Quiz</option>
						<option value="Reading">Reading</option>
						<option value="Test">Test</option>
						<option value="Miscellaneous">Miscellaneous</option>
					</select>
				<div class="assignment-box-inner">
					<div class="inner">
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="assign-title">Title</th>
										<th>Due Date</th>
										<th>Edit</th>
									</tr>
									
								</thead>		
								<tbody>	
									<tr ng-repeat="assignment in assignments | orderBy:'due_date'">
									
											<td>{{assignment.title}}</td>
											<td>{{assignment.due_date | date:'fullDate'}}</td>
											<td><a class="btn btn-xs btn-warning" ng-href="/#/courses/{{assignment.course_id}}/assignments/{{assignment.id}}/edit">Edit</a></td>
											
									</tr>
								</tbody>	
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div> <!-- END ASSIGNMENT BOX -->
		<div class="col-sm-4 col-xs-12"> <!-- CHART1 BOX -->
			<div class="box box-solid box-danger assignment-box-outer">
				<div class="box-header text-center">{{category}} Assignments vs. Average and Max Scores</div>
					<div class="assignment-box-inner">
						<div class="inner">

							<canvas id="bar" class="chart chart-bar" chart-data="chartOneData" chart-labels="assignmentTitles" chart-series="seriesOne"  chart-colours='[{
	         "fillColor": "rgba(224, 108, 112, .5)",
	         "strokeColor": "rgba(207,100,103,.5)",
	         "pointColor": "rgba(220,220,220,1)",
	         "pointStrokeColor": "#fff",
	         "pointHighlightFill": "#fff",
	         "pointHighlightStroke": "rgba(151,187,205,0.8)"
	       }, {
	         "fillColor": "rgba(0, 0, 0, .3)",
	         "strokeColor": "rgba(0,0,0,.3)",
	         "pointColor": "rgba(0,0,0,1)",
	         "pointStrokeColor": "#fff",
	         "pointHighlightFill": "#fff",
	         "pointHighlightStroke": "rgba(151,187,205,0.8)"
	       }]'></canvas>
					
						</div>
					</div>
			</div>
		</div> <!-- END CHART1 BOX -->
		
		<div class="col-sm-4 col-xs-12"> <!-- GRAPH2 BOX -->
			<div class="box box-solid box-success assignment-box-outer">
				<div class="box-header text-center">Submissions per Assignment</div>
					<div class="assignment-box-inner">
						<div class="inner">

							<canvas id="bar" class="chart chart-bar" chart-data="chartTwoY" chart-labels="chartTwoX" chart-colours='[{
	         "fillColor": "rgba(51, 153, 86, .2)",
	         "strokeColor": "rgba(51,153,86,.5)",
	         "pointColor": "rgba(51,153,86,1)",
	         "pointStrokeColor": "#fff",
	         "pointHighlightFill": "#fff",
	         "pointHighlightStroke": "rgba(151,187,205,0.8)"
	       }]' ></canvas>

						</div>
					</div>
			</div>
		</div> <!-- END GRAPH2 BOX -->
	</div> <!-- END ROW -->

	<div class="row">
		<div class="col-sm-4 col-xs-12"> <!-- CHAT BOX -->
			<div class="box box-solid box-info chat-box-outer">
				<div class="box-header text-center">Chat for {{courseObj.course.name}}</div>
				<div class="assignment-box-inner">
					<div class="inner">
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
							
								<tbody>	
									<tr ng-repeat="message in messages">
											<td style="width: 75px;"><p><strong>{{message.author}}</strong></p></td>
											<td>{{message.message}}</td>
											<td style="width: 25px; text-align: center;"> <i class="fa fa-times-circle-o btn-remove-message" ng-click="removeMessage(message)"></i></td>
									</tr>
								</tbody>	
							</table>
						</div>
					</div>
				</div>

			</div>
			<div class="form-group">
				<form ng-submit="addMessage()">
					<input type="text" ng-model="newMessage.message" class="form-control" name="message" id="chat-message" placeholder="<chat message here>">
				</form>
			</div>
		</div> <!-- END CHAT BOX -->

		<div class="col-sm-8 col-xs-12"> <!-- CALENDAR BOX -->
			<div class="box box-solid box-info">
				<div class="box-header text-center">Class Calendar</div>
				<div class="assignment-box-inner">
					<div class="inner">
						
						<hw-calendar iframe="courseObj.course.iframe"></hw-calendar>	
						<!-- <iframe src="https://www.google.com/calendar/embed?src=paike09%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

					</div>
				</div>	
			</div>
		</div> <!-- END CALENDAR BOX -->

	</div> <!-- END ROW -->


<div class="row">
	<div class="col-sm-12 col-xs-12">
				<div class="col-sm-12 col-xs-12"> <!-- ANNOUNCEMENTS BOX -->
			<div class="box box-solid box-info assignment-box-outer">
				<div class="box-header text-center">Announcements</div>
				<div class="assignment-box-inner">
					<div class="inner">
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="assign-title">Title</th>
										<th class="assign-title">Body</th>
										<th>Edit</th>
									</tr>
									
								</thead>		
								<tbody>	
									<tr ng-repeat="announcement in courseObj.announcements">
									
											<td>{{announcement.title}}</td>
											<td>{{announcement.body}}</td>
											<td><a class="btn btn-xs btn-warning" ng-href="/#/courses/{{courseObj.course.id}}/announcements/{{announcement.id}}/edit">Edit</a></td>
											
									</tr>
								</tbody>	
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div> <!-- END ANNOUNCEMENTS BOX -->	
	</div>
</div>


























<!-- OPTIONS FOR STUDENTS -->
	<div class="options-box">
		<form class="form-inline">
			<label for="studentQuery">
				Find a Student By Name:
			</label>
			<input type="text" class="form-control" name="studentQuery" id="studentQuery" ng-model="studentQuery">
		</form>
		<br>
	</div>

<!-- STUDENTS BOXES -->

	<div class="row">

		<div class="col-sm-6 col-xs-12" ng-repeat="student in students | filter: studentQuery"> <!-- STUDENT BOX -->
			<div class="box box-solid box-primary">
				<div class="box-header text-center">{{student.name}}</div>
					<div class="inner"> <!-- STUDENT INNER BOX BEGIN-->
						<div class="row"><!-- ROW FOR GRADE GAUGE AND SUBMISSION TABLE -->
							<div class="col-sm-5 col-xs-5"> <!-- BOX FOR GRADE GAUGE -->
								<h3 class="text-center">{{student.points / student.max | grade}} ({{student.points / student.max | percentage:2}})</h3>

								<div class="flex">
									<hw-grade-box max="student.max" points="student.points"></hw-grade-box>	
								</div>
								


							</div>
							<div class="col-sm-7 col-xs-7"> <!-- BOX FOR SUBMISSION TABLE -->

								<div class="submission-box-outer">
									<div class="submission-box-inner">
										<table class="table table-hover">
											<thead>
												<tr>
													<th class="assign-title">Submission For:</th>
													<th>Score</th>
													<th>Grade It</th>
												</tr>
												
											</thead>		
											<tbody>	
												<tr ng-repeat="submission in student.studentSubmissions">
												
														<td>{{student.studentChartLabels[$index]}}</td>
														<td>{{submission.score}} / {{submission.max}}</td>
														<td><a class="btn btn-xs btn-info" ng-href="/#/courses/{{student.courseId}}/assignments/{{submission.assignment_id}}/submissions/{{submission.id}}/score">Grade</a></td>
														
												</tr>
											</tbody>	
										</table>
									</div>
								</div>

							</div>
						</div>
					<!-- ROW FOR CHART (AND MAYBE CHAT) -->
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<p>Scores per Assignment</p>
								<canvas id="line" class="chart chart-line" chart-data="student.studentChartData" chart-labels="student.studentChartLabels" chart-series="student.studentChartSeries" chart-colours='[{
         "fillColor": "rgba(51, 153, 86, .2)",
         "strokeColor": "rgba(51,153,86,.5)",
         "pointColor": "rgba(51,153,86,1)",
         "pointStrokeColor": "#fff",
         "pointHighlightFill": "#fff",
         "pointHighlightStroke": "rgba(151,187,205,0.8)"
       }, {
         "fillColor": "rgba(0, 0, 0, .1)",
         "strokeColor": "rgba(0,0,0,.1)",
         "pointColor": "rgba(0,0,0,.5)",
         "pointStrokeColor": "#fff",
         "pointHighlightFill": "#fff",
         "pointHighlightStroke": "rgba(151,187,205,0.8)"
       }]' >
								</canvas> 
								
							</div>
						</div>
	

					<!-- </div> STUDENT INNER BOX END -->
			</div>
		</div> <!-- END STUDENT BOX -->
	</div> <!-- END ROW -->
</section>



