<h1>{{course.name}} {{course.subject}}</h1>

<h3>Announcements</h3>
	<!-- <div class="box small-box box-solid bg-aqua">
		<div class="box-header">
			<h3>{{assignment.title}}</h3>
		</div>
		<div class="box-body">
			Due: {{assignment.due_date | date:'fullDate'}}
		</div>
		<div class="small-box-footer">
			Assignment Page   <i class="fa fa-arrow-circle-right"></i>
		</div>
	</div> -->
	

<h3>Assignments</h3>

<div class="row">
	<a class="col-md-3 col-xs-6 dashboard-link" ng-repeat="assignment in assignments | orderBy:'due_date'" ng-href="/#/courses/{{course.id}}/assignments/{{assignment.id}}">
		<div class="box small-box box-solid bg-aqua">
			<div class="box-header">
				<h3>{{assignment.title}}</h3>
			</div>
			<div class="box-body">
				Due: {{assignment.due_date | date:'fullDate'}}
			</div>
			<div class="small-box-footer">
				Assignment Page   <i class="fa fa-arrow-circle-right"></i>
			</div>
		</div>
	</a>
</div>


<!-- <div ng-repeat="assignment in assignments">
	<a ng-href="/#/courses/{{course.id}}/assignments/{{assignment.id}}">{{assignment.title}}</a>
</div> -->