<div style="margin-top: 20px; height: 20px;"></div>
<h1>{{course.name}} {{course.subject}}</h1>

<h3>Announcements</h3>
<div class="row">
	<div class="col-sm-12 col-xs-12"> <!-- ANNOUNCEMENTS BOX -->
		<div class="box box-solid box-info annoucement-box-outer">
			<div class="box-header text-center">Announcements</div>
			<div class="assignment-box-inner">
				<div class="inner">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="assign-title">Title</th>
									<th class="assign-title">Body</th>
								</tr>
								
							</thead>		
							<tbody>	
								<tr ng-repeat="announcement in announcements">
								
										<td>{{announcement.title}}</td>
										<td>{{announcement.body}}</td>
										
								</tr>
							</tbody>	
						</table>
					</div>
				</div>
			</div>	
		</div>
	</div> <!-- END ANNOUNCEMENTS BOX -->	
</div>

<h3>Assignments</h3>

<div class="row"><!--  Row for querying submissions and assignments -->
	<div class="col-md-3 col-xs-12">
		<div class="options-box form-group">
			<form class="form-inline">
				<label for="query">
					Search:
				</label>
				<input type="text" class="form-control" name="query" id="query" ng-model="query">
			</form>
			<br>
		</div>
	</div>

</div>


<div class="row">
	<a class="col-md-3 col-xs-6 dashboard-link" ng-repeat="assignment in assignments | filter:query | orderBy:'due_date'" ng-href="/#/courses/{{course.id}}/assignments/{{assignment.id}}">
		<div class="box small-box box-solid bg-aqua">
			<div class="box-header">
				<h3 class="text-contain">{{assignment.title}}</h3>
			</div>
			<div class="box-body">
				Due: {{assignment.due_date | date:'fullDate'}}
			</div>
			<div class="small-box-footer">
				Assignment Page   <i class="fa fa-arrow-circle-right"></i>
			</div>
		</div>
	</a>
</div>
<div class="row">
	<div class="col-sm-4 col-xs-12"> <!-- CHAT BOX -->
		<div class="box box-solid box-info chat-box-outer">
			<div class="box-header text-center">Chat for {{courseObj.course.name}}</div>
			<div class="assignment-box-inner">
				<div class="inner">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
						
							<tbody>	
								<tr ng-repeat="message in messages">
										<td style="width: 75px;"><p><strong>{{message.author}}</strong></p></td>
										<td>{{message.message}}</td>
								</tr>
							</tbody>	
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<form ng-submit="addMessage()">
				<input type="text" ng-model="newMessage.message" class="form-control" name="message" id="chat-message" placeholder="<chat message here>">
			</form>
		</div>
	</div> <!-- END CHAT BOX -->

	<div class="col-sm-8 col-xs-12"><!-- CALENDAR BOX -->
		<hw-calendar iframe="courseObj.course.iframe"></hw-calendar>
	</div> <!-- END CALENDAR BOX -->
</div> <!-- END OF ROW -->

<!-- <div ng-repeat="assignment in assignments">
	<a ng-href="/#/courses/{{course.id}}/assignments/{{assignment.id}}">{{assignment.title}}</a>
</div> -->