<section class="content">
<div style="margin-top: 20px; height: 20px;"></div>



<h1>Dashboard</h1>

<div ng-if="!currentUser.user.isTeacher">
	<h3>Courses</h3>
	<div class="row">

		<a class="col-md-3 col-xs-6 dashboard-link" ng-repeat="course in courses" ng-href="/#/courses/{{course.id}}">
			<div class="box small-box box-solid bg-blue">
				<div class="box-header">
					<h3 class="text-contain">{{course.name}}</h3>
				</div>
				<div class="box-body">
					{{course.subject}}
				</div>
				<div class="small-box-footer">
					Class Page   <i class="fa fa-arrow-circle-right"></i>
				</div>
			</div>
		</a>
	</div>
</div>

<div ng-if="currentUser.user.isTeacher">
	<h3>Command Centers for Courses</h3>
	<div class="row">

		<a class="col-md-3 col-xs-6 dashboard-link" ng-repeat="course in courses" ng-href="/#/courses/{{course.id}}/commandcenter">
			<div class="box small-box box-solid bg-lime">
				<div class="box-header">
					<h3 class="text-contain">{{course.name}}</h3>
				</div>
				<div class="box-body">
					{{course.subject}}
				</div>
				<div class="small-box-footer">
					Class Page   <i class="fa fa-arrow-circle-right"></i>
				</div>
			</div>
		</a>
	</div>
</div>	


<div class="row">
	<div class="col-md-6 col-xs-6" ng-if="!currentUser.user.isTeacher">
		<h3>Submissions</h3>
	</div>

	<div class="col-md-6 col-xs-6" >
		<h3>Assignments</h3>
		
	</div>
</div>
<div class="row"><!--  Row for querying submissions and assignments -->
	<div class="col-md-3 col-xs-12">
		<div class="options-box form-group">
			<form class="form-inline">
				<label for="query">
					Search:
				</label>
				<input type="text" class="form-control" name="query" id="query" placeholder="name of assignment" ng-model="query">
			</form>
			<br>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-6 col-xs-6 dashboard-scroll" ng-if="!currentUser.user.isTeacher" >

		<a class="col-md-6 col-xs-12 dashboard-link" ng-repeat="submission in submissions | filter:query" ng-href="/#/courses/{{submission.course_id}}/assignments/{{submission.assignment_id}}/submissions/{{submission.id}}">
			<div class="box small-box box-solid bg-teal">
				<div class="box-header">
					<h3 class="text-contain">{{submission.assignment_title}}</h3>
				</div>
				<div class="box-body">
					Score: {{submission.score}} / {{submission.max}} 
				</div>
				<div class="small-box-footer">
					Submission Page   <i class="fa fa-arrow-circle-right"></i>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6 col-xs-6 dashboard-scroll" >
		<a class="col-md-6 col-xs-12 dashboard-link" ng-repeat="assignment in assignments | filter: query" ng-href="/#/courses/{{assignment.course_id}}/assignments/{{assignment.id}}">
			<div class="box small-box box-solid bg-olive">
				<div class="box-header">
					<h3 class="text-contain">{{assignment.title}}</h3>
				</div>
				<div class="box-body">
					Due: {{assignment.due_date | date:'fullDate'}}
				</div>
				<div class="small-box-footer">
					Assignment Page   <i class="fa fa-arrow-circle-right"></i>
				</div>
			</div>
		</a>
	</div>

</div>
</section>



