<h1>Dashboard</h1>


<button ng-click="toCoursesNew()" class="btn btn-lg btn-info">Create a new course Page</button>
<button ng-click="toFileLibrary()" class="btn btn-lg btn-info">View Your File Library</button>





<!-- {{user}}
{{courses}} -->

<h3>Courses</h3>
<div class="row">

	<a class="col-md-3 col-xs-6" ng-repeat="course in courses" ng-href="/#/courses/{{course.id}}">
		<div class="box small-box box-solid bg-blue">
			<div class="box-header">
				<h3>{{course.name}}</h3>
			</div>
			<div class="box-body">
				{{course.subject}}
			</div>
			<div class="small-box-footer">
				Class Page   <i class="fa fa-arrow-circle-right"></i>
			</div>
		</div>
	</a>
</div>
<h3>Submissions</h3>
<div class="row">
	<div class="box-header">
	
	</div>
	<div ng-repeat = "submission in submissions" class="col-md-3">
		<a ng-href="/#/courses/{{submission.course_id}}/assignments/{{submission.assignment_id}}/submissions/{{submission.id}}">Submission: {{submission.id}} for Course {{submission.course_id}}</a>
	</div>
</div>
<h3>Assignments</h3>
<div class="row">
	<div class="box-header">

	</div>
	<div class="col-md-3" ng-repeat="assignment in assignments">
		<a ng-href="/#/courses/{{assignment.course_id}}/assignments/{{assignment.id}}">{{assignment.title}}</a>
	</div>
</div>

<div ng-repeat="course in courses">
	<a ng-href="/#/courses/{{course.id}}/commandcenter">Command Center for {{course.name}}</a>
	<br>
	<a ng-href="/#/courses/{{course.id}}">{{course.name}}</a>
	<br>
	<br>


</div>



