
<div ng-click = "toNewUpload()" class="btn btn-lg btn-info">Upload a New File</div>
<div ng-click= "onApiLoad()" class="btn btn-lg btn-info"><img class="driveIcon" src="/Google-Drive-Icon.png" alt=""> Import A Google Drive File</div>
<div id="result"></div>

<h1>DOCUMENT LIBRARY</h1>


<h4>TODO - Make icons sortable / build persistent file structure. </h4>
<h4>TODO - Make it pretty.</h4>

<i class="fa fa-trash-o fa-5x"></i>


<div>
	<li ng-repeat="doc in userDocs" class="fileIcon">
		<div>
			<a target="_blank" draggable="true" ng-href="{{doc.google_drive_url}}{{doc.local_file_url}}">
				<i class="fa fa-file-o fa-5x"></i>
				<p>{{doc.attachment_file_name}}{{doc.google_doc_name}}</p>
			</a>
		</div>
	</li>

</div>



