
<style>.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
    text-align: center;
  }
</style>

<div ng-click = "toNewUpload()" class = "button">Upload a New File</div>
<div ng-click= "onApiLoad()" class= "button"> Add A File From Your Google Drive </div>
<div id="result"></div>

<h1>DOCUMENT LIBRARY</h1>



<h4>TODO - Render either Google Doc link or Local File link, depending on what is present (use a filter maybe?)</h4>
<h4>TODO - Add a document to an assignment</h4>
<h4>TODO - Build icons for files.</h4>
<h4>TODO - Make icons sortable / build persistent file structure. </h4>
<h4>TODO - Make it pretty.</h4>


<div>
	<li ng-repeat="doc in userDocs"><a target="_blank" href="{{doc.google_drive_url}}">{{doc.attachment_file_name}}{{doc.google_doc_name}}</a></li>
</div>



