<a href="https://github.com/415DomSmith/myHW_app" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 20000000" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<header class="intro-box">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="intro-title">myHW</h1>
                <carousel interval="myInterval" class="slides_control">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" class="carousel-image">
                        <div class="carousel-caption">
                            <h4>{{slide.text}}</h4>
                        </div>
                    </slide>
                </carousel>
            </div>    
        </div>
    </div>
</header> 
<section id="login" name="login" class="container content-section text-center">
        
            <h2 class="login-title">Login / Join Here</h2>
            <h6> (Scroll down to learn more about myHW and how to login with a demo account) </h6>
    
            <div class="form-box" id="login-box">
                <div class="footer">                                     
                    <button type="submit" ng-click="authenticateUser()" class="btn bg-red btn-block"><i class="fa fa-google-plus"></i> Sign in with Google
                    </button>  
                </div> 
            </div>
            <div class="box box-primary demo-instructions">
                <h4 style="margin-top: 50px;">Want to demo myHW before signing up? <a target="_blank" href="https://accounts.google.com/Logout?">Logout of your Google account</a>, and login with one of our demo accounts.</h4>
                <h4 style="margin-top: 50px;">To see the view of a teacher, login with: <strong>my.hw.teacher.demo@gmail.com</strong> </h4>
                <h4 style="margin-top: 50px;">To see the view of a student, login with: <strong>my.hw.student.demo@gmail.com</strong></h4>
                <h4 style="margin-top: 50px;">When prompted for a password, enter <strong>demodemo</strong>.</h4>
            </div>
</section>

<div class="landing-page-body container content-section text-center">
    <section>
        <h2 class="about-title">About</h2>   
        <div class="box box-primary login-text">
            <h3> myHW uses your Google account to allow you to bring in files from Google Drive and assign and share them with your students. </h3>
            
            <h3 style="margin-top: 50px;">Create assignments, attach documents to assignments, and set due dates. Students can submit answers to assignments directly through myHW, or submit a link to a document on their Google drive.</h3>

            <h3 style="margin-top: 50px;">Teachers can grade students' assignments, track the number of students that have turned in their homework or response to an assignment, and track a students performance through myHW. </h3>

            <h3 style="margin-top: 50px;">Students and Teachers have the ability to chat with other members of their class about homework, in real-time. 

            <h3 style="margin-top: 50px;">Teachers also have the power to manage and share classroom specific Google calendars, so students always know what is going on in the classroom!</h3>
            <div id='about' name='about'></div> 

            <h3 style="margin-top: 50px; margin-bottom: 50px; padding-bottom:50px;"> Ready to <a href="" ng-click="scrollTo('login')">join?</a></h3>
        </div>     
                      
    </section>
</div>  
<!-- Footer -->
<footer class="footy">
    <div class="container text-center">
        <h4>Created by <a href="https://github.com/parkerlewis9" target="_blank">Parker Lewis</a> and <a href="https://github.com/415DomSmith" target="_blank">Dominic Smith</a>. Check us out on Github! <a href="https://github.com/415DomSmith/myHW_app" target="_blank"><img src="gh.png" alt="Github" class="gh-img"></a></h4>
    </div>
</footer>

 