<section class="content">
<div style="margin-top: 20px; height: 20px;"></div>
<h1>Submit a response for {{assignment.title}} </h1>
<div class="box box-primary">
	<div class="box-header">
		<h3>Assignment Description:</h3>
		<div style="z-index: 2; pointer-events: none;">
		<textarea ui-tinymce="tinymceOptions2" ng-model="assignment.description" rows="18">
		</textarea>
		</div>
		<h5> Type in your response to the assignment below, or submit a link to a Google drive document... or both! </h5>
	</div>	
	
	<form ng-submit="createSubmission()">
		<label for="answer"><strong>Response:</strong></label>
		<textarea ui-tinymce="tinymceOptions" ng-model="submissionData.answer" rows="18">
		</textarea>
		<div class="submit-doc-link">
			<img class="driveIcon" src="/Google-Drive-Icon.png" alt=""><label for="submission_link"><strong>Link to a Google Drive Document:</strong></label>

			<input type="text" class="form-control" ng-model="submissionData.submission_link" id="submission_link">
		</div>
		<div>
			<input type="submit" class="btn btn-lg btn-info center-block" value="Submit Your Response to the Assignment">
		</div>
	</form>
</div>

<!-- <p>TODO - client side validations to make sure only google links are attached</p>
<p>TODO - on click on link bar, bring up google file picker and populate link bar with google file URL</p>
	 -->
</section>