<section class="content">
<div style="margin-top: 20px; height: 20px;"></div>

<a ng-href="/#/courses/{{submission.course_id}}/assignments/{{submission.assignment_id}}/submissions/{{submission.id}}/edit" class="btn btn-sm btn-info" >Edit this submission</a>


<div ng-if="currentUser.isTeacher">
	<a ng-href="/#/courses/{{submission.course_id}}/assignments/{{submission.assignment_id}}/submissions/{{submission.id}}/score" class="btn btn-sm btn-info">Score this submission</a>	
</div>




<a ng-click="deleteSubmission()" class="btn btn-sm btn-danger">Delete this submission</a>

<div class= "score-box box box-solid box-warning" ng-hide="!submission.score">
	<div class= box-header>
		<h3>Current Score For This Assignment:</h3>
	</div>
	<h3>{{submission.score}} out of {{submission.max}} maximum points. </h3>
</div>

<h4>Response by: {{submission.name}} </h4> 
<h5> For assignment: {{submission.assignment_title}}</h5>
<div style="z-index: 2; pointer-events: none;">

<h5>Response:</h5>
<textarea ui-tinymce="tinymceOptions" class="mceNonEditable" ng-model="submission.answer" rows="20">
</textarea>
</div>



</section>