<h1>{{submissionData.name}}'s Response to {{submissionData.assignment_title}} </h1>


<form ng-submit="updateSubmission()">

	<h5>Edit Your Response Below:</h5>
	<textarea ui-tinymce="tinymceOptions" ng-model="submissionData.answer" rows="20">
	</textarea>
	
	<div class="submit-doc-link">
		<img class="driveIcon" src="/Google-Drive-Icon.png" alt=""><label for="submission_link">Link to a Google Drive Document:</label>

		<input type="text" class="form-control" ng-model="submissionData.submission_link" id="submission_link">
	</div>
	
	<input type="submit" class="btn btn-lg btn-info center-block" value="Edit your response">
	
</form>