<section class="content">
<div style="margin-top: 20px; height: 20px;"></div>
<h3>Score {{submissionData.name}}'s response to {{submissionData.assignment_title}}</h3>

<form ng-submit="scoreSubmission()">
	<div>
		<label for="score"> {{submissionData.name}}'s Score:</label>
		<input type="number" ng-model="submissionData.score" id="score" name="score" required>
	</div>
	<div>
		<label for="max">Maximum Points Possible:</label>
		<input type="number" ng-model="submissionData.max" id="max" name="max-points" required>
	</div>
	<input type="submit" class="btn btn-sm btn-info" value="Submit Grade">
	
</form>

<h5 ng-hide="!submissionData.submission_link">Link to document uploaded by {{submissionData.name}}:</h5>
<h5>{{submissionData.submission_link}}</h5>

<div style="z-index: 2; pointer-events: none;">

<h5>{{submissionData.name}}'s Response to {{submissionData.assignment_title}}:</h5>
<textarea ui-tinymce="tinymceOptions" class="mceNonEditable" ng-model="submissionData.answer" rows="30">
</textarea>



</section>