<h1>Submit a response for {{assignment.title}} </h1>
<div class="box box-primary">
	<div class="box-header">
		<h3>Assignment Description:</h3>
		<h4>{{assignment.details}}</h4>
		<p> Type in your response to the assignment, or submit a link to a Google drive document... or both! </p>
	</div>	
	
	<form ng-submit="createSubmission()">
		<label for="answer">Response:</label>
		<textarea ui-tinymce="tinymceOptions" ng-model="submissionData.answer" rows="30">
		</textarea>

		<label for="submission_link">Link to a Google Drive Document!</label>

		<input type="text" ng-model="submissionData.submission_link" id="submission_link">

		<input type="submit" class="btn btn-lg btn-info" value="Submit Your Response to the Assignment">
	</form>
</div>
	
