<div style="margin-top: 20px; height: 20px;"></div>
<h1>{{submissionData.name}}'s Response to {{submissionData.assignment_title}} </h1>

<div style="z-index: 2; pointer-events: none;">
		<textarea ui-tinymce="tinymceOptions2" ng-model="submissionData.assignment.description" rows="18">
		</textarea>
</div>		

<form ng-submit="updateSubmission()">

	<h5>Edit Your Response Below:</h5>
	<textarea ui-tinymce="tinymceOptions" ng-model="submissionData.answer" rows="20">
	</textarea>
	
	<div class="submit-doc-link">
		<img class="driveIcon" src="/Google-Drive-Icon.png" alt=""><label for="submission_link"><strong>Link to a Google Drive Document:</strong></label>

		<input type="text" class="form-control" ng-model="submissionData.submission_link" id="submission_link">
	</div>
	
	<input type="submit" class="btn btn-lg btn-info center-block" value="Edit your response">
	
</form>

