<div style="margin-top: 20px; height: 20px;"></div>
<div class="btn btn-sm btn-info back-to-library" ng-click= "toFileLibrary()">Back to Document Library</div>

<div ng-controller="LocalUploadController">
    <h2>Upload Files to Your File Library</h2>
    <div class="box box-primary">
        <p>Currently, only .pdf files are supported for local upload. If you would like to save others file types in myHW, try uploading them and importing through Google Drive.</p>
        <div class="btn btn-sm btn-info select-file-button" ngf-select ng-model="files" ngf-multiple="true">Select File
        </div>
        <div ngf-drop ngf-select ng-model="files" class="drop-in-box" 
            ngf-drag-over-class="dragover-here" ngf-multiple="true" ngf-allow-dir="true"
            accept="application/pdf" 
            ngf-pattern="'application/pdf'">Drop files here or click to upload
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser
        </div>
        
        Upload Log:
        <pre>{{log}}</pre>
        <div class="bottom-buffer"></div>
    </div>
</div>


 