.assign-category {
	margin-top: 20px;
	margin-bottom: 20px;
}

.assign-title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.assign-due {
	margin-top: 20px;
	margin-bottom: 40px;
}

.doc-table-head {
	table-layout: fixed;
}

.document-assignment-box-inner {
	overflow-y: auto;
	overflow-x: hidden;

}

.document-assignment-box-outer {
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
}

.assignment-docs {
	margin-top: 20px;
}

.table-document-title {
	font-size: 1.5em;
}


