.assign-category {
	margin-top: 20px;
	margin-bottom: 20px;
}

.assign-title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.assign-due {
	margin-top: 20px;
	margin-bottom: 40px;
}

.document-assignment-box-inner {
	
}