.add-info {
  margin-left: 15px;
}


.text-contain {
  font-size: 2vw;
  overflow-x: hidden;
}

/*ASSIGNMENT-BOX*/
.assignment-box-inner {
	overflow-y: auto;
	overflow-x: hidden;
}

.assignment-box-outer {
	overflow-y: auto;
	overflow-x: hidden;
	height: 250px;
}

.box-header {
  font-size: 14px
}

.light-blue-box{
  /*border: 4px solid #00c0ef;*/
  border-right: 4px solid #00c0ef;
  border-left: 4px solid #00c0ef;
  border-bottom: 4px solid #00c0ef;
  border-radius: 2%;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  -ms-transition: border .3s;
  transition: border .3s;
}

.light-blue-box:hover {
  /*border: 6px solid #00c0ef;*/
  border-left: 8px solid #00c0ef;
  border-right: 8px solid #00c0ef;
  border-bottom: 8px solid #00c0ef;
  border-radius: 3%;
}


.orange-box{
  /*border: 4px solid #f39c12;*/
  border-right: 4px solid #f39c12;
  border-left: 4px solid #f39c12;
  border-bottom: 4px solid #f39c12;
  border-radius: 2%;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  -ms-transition: border .3s;
  transition: border .3s;
}

.orange-box:hover {
  /*border: 6px solid #f39c12;*/
  border-left: 8px solid #f39c12;
  border-right: 8px solid #f39c12;
  border-bottom: 8px solid #f39c12;
  border-radius: 3%;
}

.red-box{
  /*border: 4px solid #f56954;*/
  border-right: 4px solid #f56954;
  border-left: 4px solid #f56954;
  border-bottom: 4px solid #f56954;
  border-radius: 2%;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  -ms-transition: border .3s;
  transition: border .3s;
}

.red-box:hover {
  /*border: 6px solid #f56954;*/
  border-left: 8px solid #f56954;
  border-right: 8px solid #f56954;
  border-bottom: 8px solid #f56954;
  border-radius: 3%;
}

.green-box{
  /*border: 4px solid #00a65a;*/
  border-right: 4px solid #00a65a;
  border-left: 4px solid #00a65a;
  border-bottom: 4px solid #00a65a;
  border-radius: 2%;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  -ms-transition: border .3s;
  transition: border .3s;
}

.green-box:hover {
  /*border: 6px solid #00a65a;*/
  border-left: 8px solid #00a65a;
  border-right: 8px solid #00a65a;
  border-bottom: 8px solid #00a65a;
  border-radius: 3%;
}


.box-250 {
  height: 250px;
}

.submission-box-inner {
	overflow-y: auto;
	overflow-x: hidden;
}

.submission-box-outer {
	overflow-y: auto;
	overflow-x: hidden;
	height: 175px;
}

.dashboard-link:hover {
  text-decoration: none;
}

.assign-title {
	
}

.dashboard-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 200px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*COURSE SHOW - STUDENT VIEW*/

.annoucement-box-outer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;  
}

/*CHAT BOX*/
.btn-remove-message{
  cursor: pointer;
  color: grey;
  width: 20px;
}

.btn-remove-message:hover{
  color:red;
}

.chat-box-outer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 450px;
}



.cc-buttons {
  margin-right: 40px;
}
/*Grade Box Custom Directive Gauge Styling*/



.mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin: 1.25rem;
}

.semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}
.semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 8.75rem;
  height: 4.375rem;
  margin-left: -4.375rem;
  background: #fff;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  transform: rotate(180deg) translate3d(0, 0, 0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;
}
.semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  width: 12.625rem;
  height: 6.375rem;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}



/* Responsive iFrame */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
