.driveIcon {
  height: 20px;
  width: 20px;
  margin-top: -5px;
}


.assignment-box-inner {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 900px;
}

.assignment-box-outer {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 250px;
}

.submission-box-inner {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 600px;
}

.submission-box-outer {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 175px;
}

.assign-title {
	
}