.driveIcon {
  height: 20px;
  width: 20px;
  margin-top: -5px;
}

.trash-icon {
	width: 100px;
	height: 100px;
}

.file-area {
	margin-top: 50px;
	height: 80%;
}

.fileIcon {
	text-decoration: none;
	list-style: none;
	text-align: center;
	margin: 20px;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.fileIcon a:visited {
	color: black;
}

.fileIcon a:link {
	color: black;
}

.file-icon-text {
	margin-top: 5px;
	overflow: auto;
	height: 40px;
}

