<!DOCTYPE html>
<html>
<head>
  <title>myHW</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</head>
<body ng-app="myHWApp" ng-controller="GlobalController" class="skin-blue">
<!-- header logo: style can be found in header.less -->
  <header class="header fixed fixed-header">
    <a href="" ng-click="dashboard()" class="logo">
<!-- Add the class icon to your logo image or logo icon to add the margining -->
     	myHW
    </a>
<!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">   
      <div class="navbar-right">
        <ul class="nav navbar-nav">
<!-- NAVIGATION DROP DOWN -->         
            <li class="dropdown notifications-menu"id="simple-btn-keyboard-nav" dropdown on-toggle="toggled(open)" ng-if="currentUser.user.isTeacher">
              <a href="" class="dropdown-toggle" dropdown-toggle>
                Teacher's Menu &nbsp;&nbsp; <i class="fa fa-tasks"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
       
        <!-- New Course in Drop-down-->  
                <li class="header">Navigate</li>
        <!-- Dashboard in Drop-down-->
                  <li class="dropdown notifications-menu">
                    <a href="" ng-click="dashboard()"  class="dropdown-toggle">
                      <i class="fa fa-tachometer"></i> Dashboard
                    </a>
                  </li>
                  <li class="dropdown messages-menu">
                    <a href="" ng-click="toNewCourse()" class="dropdown-toggle">
                      <i class="fa fa-plus pointer"></i> Add a Course
                    </a>
                  </li>
        <!-- Document Library in Drop-down-->
                  <li class="dropdown messages-menu">
                    <a href="" ng-click="toDocumentLibrary()" class="dropdown-toggle">
                      <i class="fa fa-file-text-o pointer"></i> Document Library
                    </a>
                  </li>
              </ul>  
            </li>
        <!--END TASKS -->

<!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu" dropdown on-toggle="toggled(open)">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
             
              <span>{{currentUser.user.name}}</span>
            </a>
            <ul class="dropdown-menu">
          <!-- User image -->
              <li class="user-header bg-light-blue">
                <img ng-src="{{currentUser.user.image}}" class="img-circle" alt="User Image" />
                <p> {{currentUser.user.name}}</p>
              </li>
        	<!-- Menu Body -->
              <li class="user-body">
              </li>
          <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="" class="btn btn-default btn-flat" ng-click="toProfile()">Profile</a>
                </div>
              	<div class="pull-right">
                  <a href="" class="btn btn-default btn-flat" ng-click="logout()">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>


<!-- Left side column. contains the logo and sidebar -->


    <!-- Right side column. Contains the navbar and content of the page -->
              
        <!-- Main content -->
    	<!-- <section class="content"> -->
       
          
				<div ng-view class="page" autoscroll="true"></div>
			<!-- </section>/.content -->







</body>
</html>
