<!DOCTYPE html>
<html>
<head>
  <title>MyHWApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myHWApp">

	<div ng-view></div>

</body>
</html>
